@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --pink: hsl(322, 100%, 66%);
    --lightPink: hsl(321, 100%, 78%);
    --lightRed: hsl(0, 100%, 63%);

    --veryDarkCyan: hsl(192, 100%, 9%);
    --veryPaleBlue: hsl(207, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
}

.flex:not(header) {
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.container {
    padding: 32px;
    flex-direction: column;
    gap: 80px;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

header img {
   width: 120px;
   height: 19.5px;
}

header button {
    border-radius: 32px;
    color: var(--lightPink);
    background-color: white;
    border: 1px solid var(--lightPink);
    padding: 8px 20px;
}

header button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.139);
}

main {
    flex-direction: column;
    gap: 80px;
    padding-top: 40px;
    text-align: center;
}

.community {
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.community button {
    border-radius: 32px;
    border: none;
    background-color: var(--pink);
    color: white;
    font-weight: 700;
    padding: 16px;
    width: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.139);
}

.stats {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.info p:not(.big) {
    color: gray;
    font-weight: 400;
}

.big {
    font-size: 56px;
    font-weight: 700;
}

.info {
    flex-direction: column;
    text-align: center;
}

.info img {
    width: 35px;
    height: 30.5px;
}

.feature-section {
    gap: 200px;
    text-align: center;
    margin-bottom: 160px;
}

.feature-section h2 {
    margin-top: 40px;
}

.feature-section .flex {
    flex-direction: column;
    gap: 16px;
}

.reverse img {
    order: -1;
}

.reverse p {
    order: 0;
}

.cta {
    flex-direction: column;
    gap: 48px;
    text-align: center;
    align-items: center;
}

.cta h1 {
    font-size: 28px;
}

.pink-button {
    border-radius: 32px;
    border: none;
    background-color: var(--pink);
    color: white;
    font-weight: 700;
    padding: 16px;
    width: 180px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.139);
}

.pink-button:hover {
    background-color: var(--lightPink);
}

.footer {
    background-color: var(--veryDarkCyan);
    padding: 32px;
    color: white;
    gap: 48px;
}

.logo {
    width: 24px;
    height: 24px;
}

.newsletter p:nth-child(1) {
    font-size: 20px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.newsletter {
    margin-top: 16px;
    gap: 16px;
}

.newsletter input {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.input {
    margin-bottom: 80px;
    justify-content: flex-end;
}

.newsletter button {
    border-radius: 8px;
    width: 50%;
}

.background {
    width: 100vw;
}

.infos {
    gap: 48px;
}

.logo-info {
    gap: 12px;
}

svg path {
    fill: white;
}

.social {
    display: flex;
    gap: 8px;
}

.contacts {
    gap: 8px
}

.contact-info {
    display: flex;
    gap: 24px;
}

.social-logo {
    width: 24px;
    height: 24px;
}

.social {
    margin-top: 48px;
}

.social-logo:hover .svg-path {
    fill: lightskyblue;
}

.attribution {
    margin-top: 60px;
    font-size: 14px;
}

.attribution a {
    color: white;
}

.attribution a:hover {
    color: lightskyblue;
}

